.12-1__4-1 {
  color: #ff0000;
}
.12-1__4-2 {
  color: #bf0000;
}
.12-1__4-3 {
  color: #800000;
}
.12-1__4-4 {
  color: #400000;
}
.12-2__4-1 {
  color: #ff8000;
}
.12-2__4-2 {
  color: #bf6000;
}
.12-2__4-3 {
  color: #804000;
}
.12-2__4-4 {
  color: #402000;
}
.12-3__4-1 {
  color: #ffff00;
}
.12-3__4-2 {
  color: #bfbf00;
}
.12-3__4-3 {
  color: #7f8000;
}
.12-3__4-4 {
  color: #404000;
}
.12-4__4-1 {
  color: #80ff00;
}
.12-4__4-2 {
  color: #60bf00;
}
.12-4__4-3 {
  color: #408000;
}
.12-4__4-4 {
  color: #204000;
}
.12-5__4-1 {
  color: #00ff00;
}
.12-5__4-2 {
  color: #00bf00;
}
.12-5__4-3 {
  color: #008000;
}
.12-5__4-4 {
  color: #004000;
}
.12-6__4-1 {
  color: #00ff80;
}
.12-6__4-2 {
  color: #00bf60;
}
.12-6__4-3 {
  color: #008040;
}
.12-6__4-4 {
  color: #004020;
}
.12-7__4-1 {
  color: #00ffff;
}
.12-7__4-2 {
  color: #00bfbf;
}
.12-7__4-3 {
  color: #007f80;
}
.12-7__4-4 {
  color: #004040;
}
.12-8__4-1 {
  color: #007fff;
}
.12-8__4-2 {
  color: #0060bf;
}
.12-8__4-3 {
  color: #004080;
}
.12-8__4-4 {
  color: #002040;
}
.12-9__4-1 {
  color: #0000ff;
}
.12-9__4-2 {
  color: #0000bf;
}
.12-9__4-3 {
  color: #000080;
}
.12-9__4-4 {
  color: #000040;
}
.12-10__4-1 {
  color: #7f00ff;
}
.12-10__4-2 {
  color: #6000bf;
}
.12-10__4-3 {
  color: #400080;
}
.12-10__4-4 {
  color: #200040;
}
.12-11__4-1 {
  color: #ff00ff;
}
.12-11__4-2 {
  color: #bf00bf;
}
.12-11__4-3 {
  color: #80007f;
}
.12-11__4-4 {
  color: #400040;
}
.12-12__4-1 {
  color: #ff0080;
}
.12-12__4-2 {
  color: #bf0060;
}
.12-12__4-3 {
  color: #800040;
}
.12-12__4-4 {
  color: #400020;
}
